# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/02-Angular/01-bases/dist
/02-Angular/01-bases/tmp
/02-Angular/01-bases/out-tsc
/02-Angular/01-bases/bazel-out

# Node
/02-Angular/01-bases/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/02-Angular/01-bases/.angular/cache
.sass-cache/
/02-Angular/01-bases/connect.lock
/02-Angular/01-bases/coverage
/02-Angular/01-bases/libpeerconnection.log
testem.log
/02-Angular/01-bases/typings

# System files
.DS_Store
Thumbs.db
