<h1>Pagina de Dragon Ball Sagas</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar:</h3>
    <input type="text" class="form-control" placeholder="Nombre" />
    <input type="number" class="form-control mt-2" placeholder="Poder" />

    <button class="btn btn-primary mt-2">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ul>
      @for (item of charecters(); track item.id; let idx = $index) {

        @if(item.power>500) {
          <li>
            <span> {{ idx + 1 }} - {{ item.name }} </span>
            <!-- <strong class="text-danger"> ({{ item.power }}) </strong> -->
            <strong
              [class.text-danger]="item.power > 9000"
              [class.text-success]="item.power < 9000"
            >
              <!-- [ngClass]="powerClasses()" -->
              ({{ item.power }})
            </strong>
          </li>
        }
        @else {
          <li><strong>No cumple con los requisitos</strong></li>
        }


      }
    </ul>
  </div>
</section>
